<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tmathmeyer.wpi.bannerweb"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="MyBannerweb"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tmathmeyer.wpi.bannerweb.HomePage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.tmathmeyer.wpi.bannerweb.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.tmathmeyer.wpi.bannerweb.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="MyBannerweb"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tmathmeyer.wpi.bannerweb.browser.InfoListActivity"
            android:label="@string/title_info_list" >
        </activity>
        <activity
            android:name="com.tmathmeyer.wpi.bannerweb.InfoListActivity"
            android:label="@string/title_info_list" >
        </activity>
        <activity
            android:name="com.tmathmeyer.wpi.bannerweb.InfoDetailActivity"
            android:label="@string/title_info_detail"
            android:parentActivityName=".InfoListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InfoListActivity" />
        </activity>
    </application>

</manifest>